.Container{
  display: flex;
  height: 100vh;
  width: 100%;
}
.ControlPanel{
  height:100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Iframe{
  height: 100%;
  width: 40.5%;
  border: none;
}